.feature_property_sec {
    padding-top: 10px;
    padding-bottom: 30px;
    .feature_item {
        display: inline-block;
        position: relative;
        img {
            height: 370px;
            object-fit: cover;
        }
        .content {
            position: absolute;
            width: 100%;
            bottom: 20px;
            background-color: rgba(0, 0, 0, 0.7);
            text-align: center;
            padding: 10px 0px;
            p {
                margin-bottom: 0px;
                color: #fff;
                font-weight: 600;
            }
        }
    }
}